<!DOCTYPE html>
<html lang="zh">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}基于社交网的资讯聚合{% end %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <meta name="description" content="{% block description %}Follow Center: 关注聚合大神的一切社交媒体 twitter github,方便的实时消息提醒,不错过他/她的一切{% end %}" />
        <meta name="keywords" content="{% block keywords %}Follow,Center,社交,聚合,跟踪{% end %}" />
        <link rel='shortcut icon' href='/static/images/login-logo.png' />
        <link href="/lib_static/lib/AdminLTE-2.0.4/dist/css/skins/skin-black.min.css" rel="stylesheet" type="text/css" />
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
            <![endif]-->
            {% block js %}
            {% end %}
    </head>
    <body class="skin-black layout-top-nav">
        <header id="v_header_m" v-loading="loading" class="main-header">
            <nav class="navbar navbar-static-top">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a v-on="click:clickLink" href="/" class="navbar-brand"><b>Follow Center</b></a>
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
                            <i class="fa fa-bars"></i>
                        </button>
                    </div>
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="navbar-collapse">
                        <ul class="nav navbar-nav">

                            <li v-li-a-active><a v-on="click:clickLink" href="/qr" target="">微信关注</a></li>

                            <li v-li-a-active><a v-on="click:clickLink" href="/Changelog" target="">Changelog</a></li>

                            <li v-li-a-active><a  href="http://yncoder.github.io/" target="_blank">云南程序员</a></li>

                        </ul>
                        <form v-on="submit:search"class="navbar-form navbar-left" role="search">
                            <div class="form-group">
                                <input v-model="search_value" type="text" class="form-control" id="navbar-search-input" placeholder="Search">
                            </div>
                        </form>
                        <ul class="nav navbar-nav navbar-right">

                            <!-- User Account: style can be found in dropdown.less -->
                            <li class="dropdown user user-menu">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <i class="glyphicon glyphicon-user"></i>
                                    <span>bigzhu<i class="caret"></i></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <!-- User images -->
                                    <li class="user-header bg-light-blue">
                                        <img  src="/lib_static/images/avatar.svg"  class="img-circle">
                                        <p>
                                        bigzhu <br />


                                        <small>Nothing</small>

                                        </p>
                                    </li>
                                    <!-- Menu Footer-->
                                    <li class="user-footer">
                                        <div class="btn-group btn-group-justified">
                                            <div class="btn-group">
                                                <a href="/profile" class="btn btn-default btn-flat">个人资料</a>
                                            </div>
                                            <div class="btn-group">
                                                <a href="/logout" class="btn btn-default btn-flat">安全退出</a>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </li>

                        </ul>
                    </div>
                </div>
            </nav>
        </header>
        <div class="container">
            {% block body %}
            {% end %}
        </div>
    </body>
    {% block css %}
    {% end %}
</html>
{% module my_base() %}
