<div class="box box-solid item">
    <div class="box-header">
        <h2 class="box-title">
            <a href="/user/{{message.name}}">
                <img src="{{message.avatar}}" class="direct-chat-img" onerror="this.onerror=null;this.src='/ProxyHandler/{{message.avatar}}';">
                <div class="name">
                    {{message.name}}
                </div>
            </a>
        </h2>
        <div class="box-tools pull-right">
            <span class="round-icon bg-icon-black">
                <i class="fa fa-github"></i>
            </span>
            <sub>{{message.created_at}}</sub>
            <a href="/message?t={{message.m_type}}&id={{message.id}}">
                <sub>
                    详情
                </sub>
            </a>
        </div>
    </div>
    <div class="box-body">
        {%set repo_url = message.content['repo']['url'].replace('api.github.com/repos', 'github.com') %}
        {%set repo_name = message.content['repo']['name'] %}
        {%set repo_link = '<a href=="%s">%s</a>'%(repo_url, repo_name) %}

        {%if message.content['type']=='PushEvent'%}
        Push {{repo_link}}
        {%for commit in message.content['payload']['commits'] %}
        <li>
            <a target="_blank" href="{{commit['url'].replace('api.github.com/repos', 'github.com')}}" >{{commit['message']}}</a>
        </li>
        {%end%}

        {%elif message.content['type']=='IssueCommentEvent'%}

        {%set payload = message.content['payload'] %}

        {%set issue_url = payload['issue']['html_url']%}
        {%set issue_title = payload['issue']['title']%}
        {%set issue_comment_url = payload['comment']['html_url']%}
        {%set issue_comment_body = payload['comment']['body']%}

        <a target="_blank" href="{{issue_comment_url}}" >{{issue_title}}</a>
        <p class="description_bz">{{issue_comment_body}}</p>

        {%elif message.content['type']=='WatchEvent'%}

        {%set payload = message.content['payload'] %}
        {%set repo_url = message.content['repo']['url'].replace('api.github.com/repos', 'github.com') %}
        {%set repo_name = message.content['repo']['name'] %}
        {%set repo_link = '<a href=="%s">%s</a>'%(repo_url, repo_name) %}

        {{message.content['payload']['action']}} {{repo_link}}


        {%elif message.content['type']=='IssuesEvent'%}

        {%set payload = message.content['payload'] %}
        {%set repo_url = message.content['repo']['url'].replace('api.github.com/repos', 'github.com') %}
        {%set repo_name = message.content['repo']['name'] %}
        {%set repo_link = '<a href=="%s">%s</a>'%(repo_url, repo_name) %}

        {%set issue_url = payload['issue']['html_url']%}
        {%set issue_title = payload['issue']['title']%}

        {{repo_link}}
        <br>
        {{message.content['payload']['action']}} issue <a target="_blank" href="{{issue_url}}" >{{issue_title}}</a>
        {%end%}
    </div>
</div>
