{% block css %}
<link href="/static/message.css" rel="stylesheet" type="text/css" />
<link href="/static/message_app.css" rel="stylesheet" type="text/css" />
{% end %}
{% block js %}
<script src="{{static_url('messages_app.js')}}"></script>
{% end %}

{% extends 'base.html' %}
{% block body %}
<div id="v_messages" v-loading="loading" class="row">
    <div  class="col-md-8">
        <div v-show="messages.length != 0 " class="text-center">
            <a v-on="click:old" v-btn-loading="old_loading" href='javascript:void(0);' class="btn btn-defalt">历史消息</a>
        </div>
        <component is="(%message.m_type%)" v-repeat="message in messages" v-ref="c_messages" v-transition="fade">
        </component>
        <div class="text-center">
            <a v-on="click:new" v-btn-loading="new_loading" href='javascript:void(0);' class="btn btn-defalt"></a>
        </div>
    </div>
    <div class="col-md-4">
        <div class="text-center">
            <add_god></add_god>
        </div>
        <c_user_info user_info="(%user_info%)"></c_user_info>
        <god_list></god_list>
    </div>
</div>
{% end %}

