{% block css %}
<link href="/static/message.css" rel="stylesheet" type="text/css" />
<link href="/static/message_app.css" rel="stylesheet" type="text/css" />
{% end %}
{% block js %}
<script src="/static/messages_app.js?v=12"></script>
{% end %}

{% extends 'base.html' %}
{% block body %}
<div id="v_messages" v-loading="loading" class="row">
    <div  class="col-md-8">
        <div class="row">
            <div class="col-md-4">
            </div>
            <div class="col-md-4 text-center">
                <a v-on="click:old" v-btn-loading="old_loading" href='javascript:void(0);' class="btn btn-defalt">历史...</a>
            </div>
            <div class="col-md-4">
            </div>
        </div>
        <component is="(%message.m_type%)" v-repeat="message in messages" v-transition="fade">
        </component>
        <div class="row">
            <div class="col-md-4">
            </div>
            <div class="col-md-4 text-center">
                <a v-on="click:new" v-btn-loading="new_loading" href='javascript:void(0);' class="btn btn-defalt">最新...</a>
            </div>
            <div class="col-md-4">
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <c_user_info user_info="(%user_info%)"></c_user_info>
        <c_god v-repeat="god in gods" v-transition="fade"></c_god>
    </div>
</div>
{% end %}

