{% for twitter_message in twitter_messages %}
<div class="box box-solid item">
    <div class="box-header">
        <h3 class="box-title">
            <a href="/user/{{twitter_message.screen_name}}">
                <img src="{{twitter_message.profile_image_url_https}}" class="img-thumbnail height1 align-bottom"
                onerror="this.onerror=null;this.src='/ProxyHandler/{{twitter_message.profile_image_url_https}}';"
                >
                {{twitter_message.screen_name}}
            </a>
        </h3>
    </div>
    <div class="box-body">
        <p class="description_bz">{{twitter_message.text}}</p>
        {%if twitter_message.extended_entities and twitter_message.extended_entities.get('media')%}
        <div class="row">
            {%for media in twitter_message.extended_entities['media']%}
            <div class="col-md-6">
                <a href="{{media['media_url_https']}}">
                    <img src="{{media['media_url_https']}}" class="img-responsive"
                    onerror="this.onerror=null;this.src='/ProxyHandler/{{media['media_url_https']}}';"
                    >
                </a>
            </div>
            {%end%}
        </div>
        {%end%}
    </div>
</div>
{% end %}
