{% extends 'base.html' %}

{% block js %}
<script src="/static/users.js"></script>
{% end %}

{% block body %}
<div id="v_users">
    {% for user in users %}
    <div  class="box box-solid item">
        <div class="box-header">
            <h3 class="box-title">
                <a v-on="click:increaseClickCount({{user.id}})" href="/user/{{user.user_name}}">
                    <img src="{{user.picture or user.profile_image_url_https}}" class="img-thumbnail height1 align-bottom">
                    {{user.user_name}}
                </a>
            </h3>
        </div>
        <div class="box-body">
            <div class="row">
                <div class="col-md-9">
                    <p class="description_bz">{{user.slogan or user.description}}</p>
                </div>
                <div class="col-md-3">
                </div>
            </div>
        </div>
        <div class="box-footer">
            {{user.god_id}}
            {%if user.followed == 1%}
            <button v-on="click:toggleFollow($event, {{user.god_id}})" type="button" class="btn btn-warning btn-sm" aria-label="Left Align">
                Following
            </button>
            {%else%}
            <button v-on="click:toggleFollow($event, {{user.god_id}})" type="button" class="btn btn-default btn-sm" aria-label="Left Align">
                <span class="fa fa-heart yellow" aria-hidden="true">+</span>
                Follow
            </button>
            {%end%}

            <div class="pull-right">
                <i class="fa fa-heart yellow" title="关注了"></i>{{user.followers_count}} 
            </div>
        </div>
    </div>
    {% end %}
</div>
{% end %}
