{% extends 'base.html' %}
{% block body %}
{% for user in users %}
<div class="box box-solid item">
    <div class="box-header">
        <h3 class="box-title">
            <a v-on="click:increaseClickCount({{user.id}})" href="/user/{{user.user_name}}">
                <img src="{{user.picture or user.profile_image_url_https}}" class="img-thumbnail height1 align-bottom">
                {{user.user_name}}
            </a>
        </h3>
    </div>
    <div class="box-body">
        <div class="row">
            <div class="col-md-9">
                <p class="description_bz">{{user.slogan}}</p>
            </div>
            <div class="col-md-3">
            </div>
        </div>
    </div>
    <div class="box-footer">
        <a title="被关注" v-on="click:like($event, {{user.id}})" class="btn red btn-xs ">关注者<i class="fa fa-heart"></i>  {{user.followers_count}}</a>
        <div class="pull-right">
            <i class="fa fa-hand-o-up " title="关注了"></i> {{user.friends_count}}
        </div>
    </div>
</div>
{% end %}
{% end %}
