<div id="github_(%message.id%)" class="box box-solid item">
    <div class="box-header">
        <h2 class="box-title">
            <a href="#/god/(%message.user_name%)">
                <img v-attr="src:avatar" class="direct-chat-img">
                <div class="name">
                    (%message.name%)
                </div>
            </a>
        </h2>
        <div class="box-tools pull-right">
            <a class="a-icon" target="_blank" href="(%repo_url%)">
                <span class="round-icon bg-icon-black">
                    <i class="fa fa-github"></i>
                </span>
            </a>
            <a href="/message?t=(%message.m_type%)&id=(%message.id%)">
                <sub v-time-len="message.created_at"></sub>
            </a>
        </div>
    </div>
    <div class="box-body">
        (%type%) <a href='(%repo_url%)' target='_blank'>(%repo_name%)</a>
        <li v-repeat="commits">
            <a target="_blank" href="(%url.replace('api.github.com/repos', 'github.com')%)">
                (%message%)
            </a>
        </li>
        <p v-html="issue_comment_link">
        </p>
        <p v-show="issue_comment_body" class='description_bz'>
        (%issue_comment_body%)
        </p>
    </div>
</div>
