<div  class="box box-solid item">
    <div class="box-header">
        <h3 class="box-title">
            <a href="/#/god/(%god.user_name%)">
                <img v-attr="src:avatar" class="direct-chat-img">
                <div class="name">
                    (%god.user_name%)
                </div>
            </a>
        </h3>
        <div class="box-tools pull-right" v-html="all_link">
        </div>
    </div>
    <div class="box-body" v-html="description">
    </div>
    <div class="box-footer">
        <follow followed="(%god.followed%)" god_id="(%god.god_id%)"></follow>
    </div>
</div>
